* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 20px 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 170px;
}

.menu-btn {
    display: none;
}

.mobile-nav {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 40px;
}

nav ul a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    transition: 0.3s;
    font-size: 15px;
}

nav ul a:hover {
    color: hsl(5, 85%, 63%);
}

.main-article {
    padding: 0 170px;
}

.top {
    display: grid;
    grid-template-columns: 2.4fr 1.1fr;
    gap: 35px;
}

.main-image-article .pc {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.mobile {
    display: none;
}

.main-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-articles h1 {
    margin: 0;
    padding-top: 25px;
    font-size: 50px;
    padding-right: 25px;
    color: hsl(240, 100%, 5%);
    font-weight: 800;
    line-height: 1.1;
}

.p-btn p {
    color: hsl(236, 13%, 42%);
    margin: 0;
    padding: 0;
    padding-top: 25px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.p-btn button {
    margin-top: 30px;
    padding: 15px 35px;
    border: none;
    outline: none;
    background-color: hsl(5, 85%, 63%);
    color: hsl(240, 100%, 5%);
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 14px;
    transition: 0.3s;
}

.p-btn button:hover {
    cursor: pointer;
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
}

.sub-articles {
    background-color: hsl(240, 100%, 5%);
    padding: 30px 20px;
}

.sub-articles p,
h3,
h2 {
    margin: 0;
    padding: 0;
}

.sub-article {
    border-bottom: 1px solid hsl(233, 8%, 79%);
    padding-bottom: 30px;
}

.sub-article:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.sub-articles h2 {
    color: hsl(35, 77%, 62%);
    font-size: 40px;
}

.sub-article h3 {
    color: hsl(36, 100%, 99%);
    padding-top: 30px;
    transition: 0.3s;
}

.sub-articles h3:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.sub-article p {
    padding-top: 7px;
    color: hsl(233, 8%, 79%);
    line-height: 1.6;
    font-size: 15px;
}

.bottom {
    display: flex;
    align-items: center;
    margin-top: 70px;
    flex-wrap: wrap;
}

.bottom-article {
    display: grid;
    grid-template-columns: 1fr 2.5fr;      
    width: 335px;
}

.bottom-article:nth-child(2) {
    margin: auto;
}

.bottom-article:nth-child(3) {
    margin-left: auto;
}

.bottom-article img {
    width: 100px;
}

.image-article {
    padding-left: 20px;
}

.image-article span,
h3, 
p {
    margin: 0;
    padding: 0;
}

.image-article span {
    font-size: 30px;
    font-weight: 700;
    color: hsl(5, 85%, 63%);
}

.image-article h3 {
    padding-top: 10px;
    font-size: 20px;
    color: hsl(240, 100%, 5%);
    transition: 0.3s;
}

.image-article h3:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.image-article p {
    padding-top: 10px;
    color: hsl(236, 13%, 42%);
    line-height: 1.5;
    font-size: 15px;
}